<head>
  <div class="style-head">
    <div class="page-heading">
      <div class="row">
        <div class="col-sm-offset-1">
          <h1><span class="glyphicon glyphicon-dashboard"></span> Team Manager
            <small>
              Gallery
            </small>
          </h1>
        </div>
      </div>
    </div>
  </div>
</head>

<%= render 'home/navbar' %>

<style>
  div.img {
    margin: 5px;
    border: 1px solid #ccc;
    left;
    width: 180px;
  }

  div.img:hover {
    border: 1px solid #777;
  }

  div.img img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }
</style>
<body>
<div class="row col-xs-offset-1 col-xs-10">
  <div class="col-xs-3">
    <div class="img">
      <a target="_blank" href="soccer1.jpg">
        <img src="assets/soccer1.jpg" alt="soccer1" width="400" height="300">
      </a>
      <div class="desc">championship soccer ball</div>
    </div>

    <div class="img">
      <a target="_blank" href="soccer2.jpg">
        <img src="assets/soccer2.jpg" alt="soccer2" width="400" height="300">
      </a>
      <div class="desc">Jessica scores a goal</div>
    </div>

    <div class="img">
      <a target="_blank" href="soccer3.jpg">
        <img src="assets/soccer3.jpg" alt="soccer3" width="400" height="300">
      </a>
      <div class="desc">Adam blocks goal</div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="img">
      <a target="_blank" href="soccer4.jpg">
        <img src="assets/soccer4.jpg" alt="soccer4" width="400" height="300">
      </a>
      <div class="desc">Jesse gets moved to forward</div>
    </div>

    <div class="img">
      <a target="_blank" href="soccer5.jpg">
        <img src="assets/soccer5.jpg" alt="soccer5" width="400" height="300">
      </a>
      <div class="desc">Dolphins celebrate win</div>
    </div>

    <div class="img">
      <a target="_blank" href="soccer6.jpg">
        <img src="assets/soccer6.jpg" alt="soccer6" width="400" height="300">
      </a>
      <div class="desc">Bob and Time collide heads</div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="img">
      <a target="_blank" href="soccer7.jpg">
        <img src="assets/soccer7.jpg" alt="soccer7" width="400" height="300">
      </a>
      <div class="desc">Tigers team photo</div>
    </div>

    <div class="img">
      <a target="_blank" href="soccer8.jpg">
        <img src="assets/soccer8.jpg" alt="soccer8" width="400" height="300">
      </a>
      <div class="desc">Blue jays lose championship</div>
    </div>

    <div class="img">
      <a target="_blank" href="soccer1.jpg">
        <img src="assets/soccer1.jpg" alt="soccer1" width="400" height="300">
      </a>
      <div class="desc">championship soccer ball</div>
    </div>
  </div>
  <div class="col-xs-3">

    <div class="img">
      <a target="_blank" href="soccer2.jpg">
        <img src="assets/soccer2.jpg" alt="soccer2" width="400" height="300">
      </a>
      <div class="desc">Jessica scores a goal</div>
    </div>

    <div class="img">
      <a target="_blank" href="soccer3.jpg">
        <img src="assets/soccer3.jpg" alt="soccer3" width="400" height="300">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>

    <div class="img">
      <a target="_blank" href="soccer4.jpg">
        <img src="assets/soccer4.jpg" alt="soccer4" width="400" height="300">
      </a>
      <div class="desc">Adam blocks goal/div>
    </div>
  </div>
</div>
</body>