<div class="page-header">
  <div class="row">
    <div class="col-sm-offset-1">
      <h1>Team Manager
        <small>
          Messages
        </small>
      </h1>
    </div>
  </div>
</div>

<%= render 'home/navbar' %>


<!--- List all possible teams as drop down --->
<% @groups = Group.all %> <!--- Query to search for all people having same group id --->
<h2>Teams</h2>
<table class="centertable">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>

          <td><%= link_to 'Message', create_sms_path(group) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--- After selecting a team got to home action --->
<br />
<div class="center panel panel-default">
  <div class="panel-header">
    TWILIO Demo - Prototype 1
  </div>
  <div class="panel-body">
    <%= form_tag('/send_sms', method: 'POST') do %>
        <input type="text" placeholder="enter number" name="number">
        <input type="text" placeholder="enter message here" name="message">
        <button type="submit">Submit</button>
    <% end %>
  </div>
</div>
