<div class="page-header">
  <div class="row">
    <div class="col-sm-offset-1">
      <h1>Team Manager
        <small>
          Schedules
        </small>
      </h1>
    </div>
  </div>
</div>

<%= render 'home/navbar' %>

<br><font face = "Arial"><h1><marquee> Upcoming Events! </marquee></h1></font> <br>
<iframe src="https://calendar.google.com/calendar/embed?height=800&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=la8gul9a51fsr84a41tjbr12gs%40group.calendar.google.com&amp;color=%2323164E&amp;ctz=America%2FDenver" style="border-width:0" width="1500" height="800" frameborder="0" scrolling="no"></iframe>
  <img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif"></a>
<a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=bG9lZjI3Mm84cHVlYm81cXIyajZ1YWdvcWsgbGE4Z3VsOWE1MWZzcjg0YTQxdGpicjEyZ3NAZw&amp;tmsrc=la8gul9a51fsr84a41tjbr12gs%40group.calendar.google.com">
  <img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif"></a>
