<head>
  <div class="style-head">
    <div class="page-heading">
      <div class="row">
        <div class="col-sm-offset-1">
          <h1><span class="glyphicon glyphicon-dashboard"></span> Team Manager
            <small>
              Statistics
            </small>
          </h1>
        </div>
      </div>
    </div>
  </div>
</head>

<%= render 'home/navbar' %>

<% @groups = Group.all %> <!--- Query to search for all people having same group id --->
<h2>Teams</h2>
<table class="centertable">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, teamstats_path %></td>

          <!-- <td><%= link_to 'Statistics', create_sms_path(group) %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
